li {
    color: lightgreen;
}

body {
    font-size: 30px;
    background-color: #d7eff0;
    color: #7DAADO;
}

h1 {
    background-color: #ffe700 !important;
}

table, th, td {
  border: 1px solid black;
}

